{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <style type="text/css">
        .my_button {
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #60a3bc;
            padding: 7px;
            border-radius: 30px;
            display: inline-block;
            border: none;
            transition: all 0.4s ease 0s;
            font-size: 11px;
        }
        .my_button:hover {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
        }
    </style>
    <script>
        function reloadChampions() {
            let url = "http://" + window.location.hostname + ":" + window.location.port + "/api/admin/champions/reload";
            let http = new XMLHttpRequest();
            http.open("GET", url, true);
            http.send(null);

            http.onreadystatechange = (e) => {
                let responseJson = JSON.parse(http.responseText);
                if (http.status == 200) {
                    alert(responseJson.message);
                    location.reload();
                } else
                    alert("Reload error")
            };
        }
    </script>
    <button class="my_button" onclick="reloadChampions()">Reload Champions</button>
</li>
{% endblock %}